.add-task-section{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task-input-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.task-input-view form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.task-input-view form input{
    width: 100%;
    font-family: cursive;
    border: none;
    border-radius: 3px;
}

.task-input-view form button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 7px;;
    border: 1px solid var(--success);
    font-family: cursive;
    background: none;
    color: var(--primary-text);
}

.task-input-view form button svg{
    width: 15px;
    fill: var(--success);
}

.task-input-view form textarea{
    width: 100%;
    border: none;
    background-color: white;
    font-family: cursive;
    border-radius: 3px;
    padding: 3px;
    border-bottom: 1px solid #94B9FF;
}

.task-input-due{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.task-input-due input{
    border-bottom: 1px solid #94B9FF;
}


.task-input-due input:nth-child(1){
    border-bottom: 1px solid #94B9FF;
}

.task-input-due input:nth-child(2){
    border-bottom: 1px solid #94B9FF;
}

.task-input-due input:nth-child(2){
    width: 60%;
}

.task-input-view-box{
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    padding: 1px;
    border-bottom: 1px solid #94B9FF;
}

/* ==========================
   Tablet
========================== */


@media screen and (min-width: 700px) and (max-width: 999px) {
    .add-task-section {
        align-items: center;
        height: 50vh;
    }

    .task-input-view {
        width: 70%;
    }
}


/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {
    .add-task-section {
        align-items: center;
        height: 50vh;
    }
    
    .task-input-view {
        width: 50%;
    }

}