.task-view-section{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.task-view form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.task-view form input{
    width: 100%;
    font-family: cursive;
    border: none;
    border-radius: 3px;
}

.task-view form textarea{
    width: 100%;
    border: none;
    background-color: white;
    font-family: cursive;
    border-radius: 3px;
}

.task-view-due{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.task-view-completed{
    width: 100%;
}

.task-view-completed input{
    color: var(--primary-text);
}

.task-view-due input:nth-child(2){
    width: 60%;
}

.task-view-input-box{
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    padding: 1px;
}

.task-view-buttons-section{
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
}

.task-view-button {
    border-radius: 3px;
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.completed-button{
    fill: var(--success);
}

.incomplete-button{
    fill: var(--warning);
}

.save-changes-button{
    fill: var(--info);
}

.delete-button{
    fill: var(--danger);
}

.task-log{
    width: 99vw;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.log{
    width: 100%;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}

.log-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.log-description{
    text-align: center;
}


/* ==========================
   Tablet
========================== */


@media screen and (min-width: 700px) and (max-width: 999px) {
    .task-view-section {
        justify-content: center;
        align-items: center;
        }

.task-view {
        width: 80%;
    }

        .task-view-button {

            width: 40%;

        }

}


/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {


}