.error-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 85vh;
}



/* ==========================
   Tablet
========================== */

@media screen and (min-width: 700px) and (max-width: 999px) {
   
}

/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {
    
}


