/* flash messages */
.flash-container {
    position: fixed;
    top: 50px;
    z-index: 1000;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.flash {
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.flash.success {
    color: var(--success);
}

.flash.error {
    color: var(--danger);
}



/* ==========================
   Tablet
========================== */

@media screen and (min-width: 700px) and (max-width: 999px) {

    .flash {
        font-size: 1rem;
    }

    .flash-container {
        top: 70px;
    }
}

/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {

    .flash-container {
        top: 50px;
    }

    .flash {
        font-size: 1rem;
    }
}


