<div class="nav-bar">
  <div>
    <a href="{{ url_for('home')}}"><h1 class="gradient-text">Priora</h1></a>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{url_for('login')}}">Login/Register</a></li>
        <li>
          <div class="night-mode-button">
            <div class="night-mode-inner-button"></div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
