.user-home-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.user-home-section h1 {
    text-align: center;
}




/* ==========================
   Tablet
========================== */


@media screen and (min-width: 700px) and (max-width: 999px) {

}


/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {

}


