.user-home-section{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    gap: 15px;
}

.user-home-tasks-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 3px;
    border-radius: 5px;;
    border: 1px solid var(--accent-peach);
}

.user-home-tasks-card{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--bg-task-card);
    border-radius: 7px;
}

.user-home-tasks-complete-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid var(--accent-peach);
}

.task-button{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.task-button svg{
    width: 14px;
    height: 14px;
    fill: var(--success);
}

.task-button-inner{
    display:none;
}

.task-button-inner.active{
    display: flex;
}

.task-column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.overdue-title{
    width: 100%;
    color: var(--danger);
    text-align: center;
}

.overdue-title p{
    color: var(--danger);
}

.user-home-tasks-card form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-home-tasks-card.overdue{
    background-color: var(--danger);
}

.user-home-tasks-card.overdue p{
    color: black;
}

.user-home-tasks-card.success{
    background-color: var(--success);
}
.user-home-tasks-card.success p{
    color: black;
}

.user-home-tasks-card.incomplete{
    background-color: var(--warning);
}
.user-home-tasks-card.incomplete p{
    color: black;
}

.user-home-tasks-card.danger{
    background-color: var(--danger);
}
.user-home-tasks-card.danger p{
    color: black;
}

.hr-line-2{
    width: 100%;
}

.user-home-options{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
}

.user-home-options > a {
    border: 1px solid var(--accent-green);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user-home-options > a > div{
    display: flex;
    gap: 5px;
}



.user-home-options a > div > svg{
    width: 15px;
    fill: var(--primary-text);
}

.row-title{
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.row-title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.show-on-tablet{
    display: none;
}

.show-on-desktop{
    display: none;
}

.no-tasks{
    width: 100%;
}

.tasks-top-nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* ==========================
   Tablet
========================== */


@media screen and (min-width: 700px) and (max-width: 999px) {
    .user-home-tasks-complete-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .tasks-top-nav {
        display: none;
    }

    .row-title {
        grid-template-columns: repeat(2, 1fr);
    }

    .user-home-options>div>p {
        font-size: 1rem;
    }

    .user-home-tasks-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .show-on-tablet {
        display: flex;
    }

}


/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {
    .user-home-tasks-complete-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .tasks-top-nav {
        display: none;
    }

    .row-title {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-on-desktop {
        display: flex;
    }

    .user-home-options>div>p {
        font-size: 1rem;
    }

    .user-home-tasks-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-on-tablet{
        display: flex;
    }
}


