.user-home-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.user-home-section h1 {
    text-align: center;
}

.user-home-main{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.user-home-tasks-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.no-tasks{
    display: flex;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.user-home-tasks-card{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;;
    align-items: center;
}

.user-home-tasks-card > p{
    font-size: 0.9rem;
}

.user-home-tasks-card > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user-home-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.user-home-options > div {
    border: 1px solid var(--accent-green);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user-home-options > div > p{
    font-size: 0.8rem;
}

.user-home-options > div > svg{
    width: 15px;
    fill: var(--primary-text);
}

.show-on-tablet{
    display: none;
}





/* ==========================
   Tablet
========================== */


@media screen and (min-width: 700px) and (max-width: 999px) {
    .user-home-options>div>p {
        font-size: 1rem;
    }

    .user-home-tasks-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .show-on-tablet {
        display: flex;
    }

}


/* ==========================
   Desktop
========================== */

@media screen and (min-width: 1000px) {


    .user-home-options>div>p {
        font-size: 1rem;
    }

    .user-home-tasks-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .show-on-tablet{
        display: flex;
    }
}


