{% extends 'layout.html' %} {% block content %}
<section class="user-home-section">
  <div class="tasks-top-nav">
    <a href="{{ url_for('account')}}"><p>Today's Tasks</p></a>
  </div>
  <div class="row-title">
    <div>
      <h2>Due Tomorrow</h2>
    </div>
  </div>
  <div class="user-home-tasks-grid">
    {% if tasks %}
    <div class="task-column">
      {% for task in tasks %}
      <a href="{{ url_for('task', task_id = task['task_id']) }}">
        <div class="user-home-tasks-card hidden-up">
          <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="task-id" value="{{ task['task_id'] }}" />
            <button type="submit" class="task-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                class="task-button-inner"
              >
                <path
                  d="m405-436 228-227q18-18 41.5-18t41.5 18q18 18 18 41.5T716-580L447-310q-18 18-42.5 18T362-310L254-419q-18-18-18-41.5t18-41.5q18-18 41.5-18t41.5 18l68 66Z"
                />
              </svg>
            </button>
            <p>{{ task['title'] }}</p>
            <p>{{ task['due_date'] }} {{ task['due_time'] }}</p>
          </form>
        </div>
      </a>
      {% endfor %} {% else %}
      <p>No tasks for tomorrow</p>
    </div>
    {% endif %}
  </div>
</section>
<div>{% include 'user-nav.html' %}</div>
<div class="space"></div>
{% endblock content %}
