{% extends 'layout.html' %} {% block content %}
<section class="login-section mobile">
  <div class="login-box">
    <p><a href="{{ url_for('home') }}">&lt; back</a></p>

    <a href="{{ url_for('home')}}"><h1 class="gradient-text">Priora</h1></a>

    <div class="login-form-box">
      <h2>Login</h2>
      <p><i>Automate your task management with Priora</i></p>
      <form action="/login" method="post">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</section>
<section class="login-section desktop">
  <div class="login-box">
    <p><a href="{{ url_for('home') }}">&lt; back</a></p>
  </div>
</section>
{% endblock content %}
